<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recommendation.user_id %>
</p>

<p>
  <strong>Tmdbmovie:</strong>
  <%= @recommendation.tmdbmovie_id %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
