<p id="notice"><%= notice %></p>

<p>
  <strong>Adult:</strong>
  <%= @tmdb.adult %>
</p>

<p>
  <strong>Backdrop path:</strong>
  <%= @tmdb.backdrop_path %>
</p>

<p>
  <strong>Belongs to collection:</strong>
  <%= @tmdb.belongs_to_collection %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @tmdb.collection_id %>
</p>

<p>
  <strong>Collection name:</strong>
  <%= @tmdb.collection_name %>
</p>

<p>
  <strong>Collection poster path:</strong>
  <%= @tmdb.collection_poster_path %>
</p>

<p>
  <strong>Collection backdrop path:</strong>
  <%= @tmdb.collection_backdrop_path %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @tmdb.budget %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @tmdb.genres_id %>
</p>

<p>
  <strong>Genres name:</strong>
  <%= @tmdb.genres_name %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @tmdb.homepage %>
</p>

<p>
  <strong>Tmdb:</strong>
  <%= @tmdb.tmdb_id %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @tmdb.imdb_id %>
</p>

<p>
  <strong>Original language:</strong>
  <%= @tmdb.original_language %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @tmdb.original_title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @tmdb.overview %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @tmdb.popularity %>
</p>

<p>
  <strong>Poster path:</strong>
  <%= @tmdb.poster_path %>
</p>

<p>
  <strong>Production companies name:</strong>
  <%= @tmdb.production_companies_name %>
</p>

<p>
  <strong>Production companies:</strong>
  <%= @tmdb.production_companies_id %>
</p>

<p>
  <strong>Production countries iso 3166 1:</strong>
  <%= @tmdb.production_countries_iso_3166_1 %>
</p>

<p>
  <strong>Production countries name:</strong>
  <%= @tmdb.production_countries_name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @tmdb.release_date %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @tmdb.revenue %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @tmdb.runtime %>
</p>

<p>
  <strong>Spoken languages iso 639 1:</strong>
  <%= @tmdb.spoken_languages_iso_639_1 %>
</p>

<p>
  <strong>Spoken languages:</strong>
  <%= @tmdb.spoken_languages_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tmdb.status %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @tmdb.tagline %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tmdb.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @tmdb.video %>
</p>

<p>
  <strong>Vote average:</strong>
  <%= @tmdb.vote_average %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @tmdb.vote_count %>
</p>

<%= link_to 'Edit', edit_tmdb_path(@tmdb) %> |
<%= link_to 'Back', tmdbs_path %>
