<p id="notice"><%= notice %></p>

<p>
  <strong>Adult:</strong>
  <%= @tmdbmovie.adult %>
</p>

<p>
  <strong>Backdrop path:</strong>
  <%= @tmdbmovie.backdrop_path %>
</p>

<p>
  <strong>Belongs to collection:</strong>
  <%= @tmdbmovie.belongs_to_collection %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @tmdbmovie.budget %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @tmdbmovie.genres %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @tmdbmovie.homepage %>
</p>

<p>
  <strong>Tmdb:</strong>
  <%= @tmdbmovie.tmdb_id %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @tmdbmovie.imdb_id %>
</p>

<p>
  <strong>Original language:</strong>
  <%= @tmdbmovie.original_language %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @tmdbmovie.original_title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @tmdbmovie.overview %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @tmdbmovie.popularity %>
</p>

<p>
  <strong>Poster path:</strong>
  <%= @tmdbmovie.poster_path %>
</p>

<p>
  <strong>Production companies:</strong>
  <%= @tmdbmovie.production_companies %>
</p>

<p>
  <strong>Production countries:</strong>
  <%= @tmdbmovie.production_countries %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @tmdbmovie.release_date %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @tmdbmovie.revenue %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @tmdbmovie.runtime %>
</p>

<p>
  <strong>Spoken languages:</strong>
  <%= @tmdbmovie.spoken_languages %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tmdbmovie.status %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @tmdbmovie.tagline %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tmdbmovie.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @tmdbmovie.video %>
</p>

<p>
  <strong>Vote average:</strong>
  <%= @tmdbmovie.vote_average %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @tmdbmovie.vote_count %>
</p>

<%= link_to 'Edit', edit_tmdbmovie_path(@tmdbmovie) %> |
<%= link_to 'Back', tmdbmovies_path %>
